@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}

.wrapper {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;
}

.wrapper header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: #fff;
}

.keys-checkbox input {
    width: 60px;
    height: 30px;
    cursor: pointer;
    appearance: none;
    position: relative;
    border-radius: 30px;
    background: #4b4b4b;
}

.keys-checkbox input::before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    position: absolute;
    background: #8c8c8c;
    transform: translateY(-50%);
}

.keys-checkbox input:checked::before {
    left: 35px;
    background: #fff;
}

.paino-keys {
    display: flex;
    margin-top: 40px;
}

.paino-keys .key {
    color: #a2a2a2;
    cursor: pointer;
    user-select: none;
    position: relative;
    list-style: none;
   
    text-transform: uppercase;
}

.paino-keys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.paino-keys .black {
    width: 44px;
    height: 140px;
    border-radius: 0 0 5px 5px;
    margin: 0 -22px 0 -22px;
    z-index: 2;
    background: linear-gradient(#333 96%, #000 4%);
}

.paino-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}